<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <title>Brewbeck ~ Profile</title>
    </head>

<body>
    <%= render 'layouts/header' %>
    <h2>Your Profile</h2>

    <div class="row">
        <aside class="span4">
            <div> Username: <%= @user.first_name %></div>
            <div> Age: <%= @user.age %></div>
            <div> Email: <%= @user.email %></div>
            <div> City: <%= @user.city %></div>
        </aside>
    </div>

    <div>
        <a href="/">Return to Main Menu</a>
    </div>
</body>
</html>